{% extends 'base.html' %}

{% block title %}Massage{% endblock %}

{% block assets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='massage.css') }}">
{% endblock %}

{% block content %}
{% if request == '1' %}
<div class="row card mb-3 query-card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="profile-image">
        <img src="/static/images/dylan_profile.jpg" height="50" width="50">
      </div>
      <div>
        <h5 class="card-title">Dylan Lee (<i class="far fa-star"></i> 4.2)</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rental Query</h6>
      </div>
      <div class="ml-auto mr-3">
        <span class="badge badge-pill badge-secondary query-status">Pending</span>
      </div>
    </div>
    <p class="request-info mb-2 ml-3">
      <span class="request-model">
        <i class="fas fa-car"></i> <b>Car:</b> Tesla Model S
      </span>
      <i class="far fa-calendar-alt"></i> <b>Time:</b> 12/2/18 - 12/3/18
    </p>
    <p class="card-text">Omg. A Tesla. Please pleasepleaseplease let me rent this car.
    </p>
  </div>
</div>
{% else %}
<a href="{{ url_for('control_panel_client2') }}">
<div class="row card mb-3 query-card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="profile-image">
        <img src="/static/images/dylan_profile.jpg" height="50" width="50">
      </div>
      <div>
        <h5 class="card-title">Dylan Lee (<i class="far fa-star"></i> 4.2)</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rental Query</h6>
      </div>
      <div class="ml-auto mr-3">
        <span class="badge badge-pill badge-success query-status">Accepted</span>
      </div>
    </div>
    <p class="request-info mb-2 ml-3">
      <span class="request-model">
        <i class="fas fa-car"></i> <b>Car:</b> Tesla Model S
      </span>
      <i class="far fa-calendar-alt"></i> <b>Time:</b> 12/2/18 - 12/3/18
    </p>
    <p class="card-text">Omg. A Tesla. Please pleasepleaseplease let me rent this car.
    </p>
  </div>
</div>
</a>
{% endif %}

{% endblock %}
