{% extends 'base.html' %}

{% block title %}Car Infomation{% endblock %}

{% block assets %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'car_info.css')}}">
{% endblock %}

{% block content %}
<h1 class="display-4">Tesla Model S 2017</h1>
<img class="rounded img-fluid row mb-5" style="min-width:100%" src="https://firebasestorage.googleapis.com/v0/b/yhack-smartcar.appspot.com/o/tesla-model-s-hero-image-again-really.jpg?alt=media&token=91db16e4-723f-46f5-920a-201b51fca432" />
<div class="row mt-5 cardetail">
  <div class="col">
    <i class="fas fa-map-marker-alt"></i> Providence, RI
  </div>
  <div class="col">
    <b>Type:</b> Electric car
  </div>
  <div class="col">
    <b>Features:</b> GPS, Remote lock/unlock
  </div>
</div>
<div class="row mt-3 cardetail">
  <div class="col">
    <i class="fas fa-dollar-sign"></i> 24 / day
  </div>
  <div class="col">
    <b>Seats:</b> 5
  </div>
  <div class="col">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half"></i>
  </div>
  </div>
  <p class="row cardesc">
    <b>Description:</b>
  </p>
  <p class="row cardesc">
     A Tesla isn't just an electric car, it's a piece of the future.
  </p>
  <p class="row cardesc">
    These cars are so good that they're winning awards left, right, and center. And not just that, it has really amazing features such as autopilot, a 5.4 out of 5 safety rating, and a very sleek design. It's everything you'd want in a car.

  </p>
  <p class="row cardesc">
    I'm offering rental of this amazing car model for a low rate because I love to hear all about peoples' first experiences with this amazing car. I can't wait for you to take it on a drive too.
  </p>
  <p class="row cardesc">
    Interiors are kept clean, of course. And I bring my car for regular maintenance. Satisfaction gauranteed.
  </p>

  <div class="row">
    <button type="button" class="btn btn-primary rent-button mt-3 ml-auto">Rent the Car</button>
  </div>

{% endblock %}
