/* body */
body {
background: #F2FFFD;
font-family: Arial, sans-serif;
}

/* menu */
#menu {
position: fixed;
width: 100%;
margin-top: -27px;
margin-left: -8px;
height: 55px;
background: #005F89;
}

/* Map */

#map {
position: absolute;
top: 80px;
left: 75%;
width: 200px;
height: 85%;
background: #E6ECEB;
}


/* Lock Unlock */

#lock {
position: relative;
width: 306px;
height: 42px;
top: 170px;
left: 345px;
background: #0093B7;
border: 1px solid #005F89;
box-sizing: border-box;
box-shadow: 2px 4px 5px #D5EDF5;
border-radius: 4px;
}


/* Divider */

#divider {
position: absolute;
width: 345px;
height: 0px;
top: 450px;
left: 325px;
border: 1px solid #E6ECEB;
transform: rotate(90deg);
}

/* Contact Owner */

#contact {
position: absolute;
width: 306px;
height: 34px;
top: 650px;
left: 350px;
background: #005F89;
border-radius: 4px;
}

#rectang1 {
position: absolute;
width: 400px;
height: 310px;
top: 270px;
left: 80px;
background: #E6ECEB;
box-shadow: 2px 3px 4px rgba(0, 95, 137, 0.07);
}

#rectang2 {
position: absolute;
width: 400px;
height: 310px;
top: 270px;
left: 515px;
background: #E6ECEB;
box-shadow: 2px 3px 4px rgba(0, 95, 137, 0.07);
}

#zonemap {
position: fixed;
width: 174px;
height: 85%;
top: 90px;
left: 76%;
background: #000;
border: 5px solid rgba(160, 197, 207, 0.5);
box-sizing: border-box;
object-fit: cover;
overflow: hidden;
}

#modelheader {
position: absolute;
width: 1025px;
height: 39px;
top: 100px;
left: 250px;
font-family: Saira, Arial;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 40px;
letter-spacing: 0.05em;
color: #005F89;
}


#ownercontact {
position: absolute;
width: 298px;
height: 19px;
top: 653px;
left: 410px;
font-family: Saira;
font-style: normal;
font-weight: normal;
line-height: 33px;
font-size: 20.2147px;
letter-spacing: 0.05em;
color: #E6ECEB;
}

#lockcar {
position: absolute;
width: 274px;
height: 42px;
top: 200px;
left: 435px;
font-family: Saira;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 24px;
letter-spacing: 0.05em;
color: #000000;
}

#lockpic img {
position: absolute;
top: 204px;
left: 560px;
width: 27px;
height: 27px;
object-fit: cover;
}

#button1 {
position: absolute;
top: 35px;
width: 400px;
height: 98px
font-family: Saira;
font-style: normal;
font-weight: 200;
line-height: normal;
font-size: 24px;
color: #000000;
-webkit-transition: background 2s;
}

#button2 {
position: absolute;
top: 125px;

width: 400px;
height: 58px
font-family: Saira;
font-style: normal;
font-weight: 200;
line-height: normal;
font-size: 24px;
color: #000000;
-webkit-transition: background 2s;
}

#button3 {
position: absolute;
top: 225px;

width: 400px;
height: 58px
font-family: Saira;
font-style: normal;
font-weight: 200;
line-height: normal;
font-size: 24px;
color: #000000;
-webkit-transition: background 2s;
}

#button1:hover {
background: rgba(99, 205, 215, 0.5);
-webkit-transition: background 2s;
}

#button2:hover {
background: rgba(99, 205, 215, 0.5);
-webkit-transition: background 2s;
}

#button3:hover {
background: rgba(99, 205, 215, 0.5);
-webkit-transition: background 2s;
}
