{% extends 'base.html' %}

{% block title %}Landing{% endblock %}

{% block assets %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'landing.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid text-center landing-main">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Grab to Go</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="{{ url_for('car_list') }}">Browse Cars</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Anytime, Anywhere</h1>
      <p class="lead">Grab to Go is a car sharing application that works with the company Smartcar to provide instant car rental services
      to customers across the US. Share and rent remotely. We dedicate to make your life easier!</p>
      <p class="lead">
        <a href="{{ url_for('login') }}" class="btn btn-lg btn-secondary">Sign In</a>
        <a href="{{ url_for('register') }}" class="btn btn-lg btn-secondary ml-2">Sign Up</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p class="row justify-content-center">&copy; 2018 Grab To Go </p>
      </div>
    </footer>
  </div>
</div>
{% endblock %}
