{% extends 'base.html' %}

{% block title %}Car Registration{% endblock %}

{% block content %}
  <h1>Car Registration</h1>
  <h4>Please fill in the form below, so your can make money out of your smart car!</h4>
  <hr />
  <form>
    <div class="form-group">
      <label for="formOwnerName">Name</label>
      <input type="text" class="form-control" id="formOwnerName" placeholder="Jane Smith">
    </div>
    <div class="form-group">
      <label for="formOwnerEmail">Email address</label>
      <input type="email" class="form-control" id="formOwnerEmail" aria-describedby="emailHelp" placeholder="jane_smith@mail.com">
    </div>
    <div class="form-group">
      <label for="formOwnerPassword">Password</label>
      <input type="password" class="form-control" id="formOwnerPassword" placeholder="Password">
    </div>
    <h3>Your Car</h3>
    <div class="form-group">
      <label for="formOwnerLpnumber">License Plate Number</label>
      <input type="text" class="form-control" id="formOwnerLpnumber" placeholder="1234AB">
    </div>
    <div class="form-group">
      <label for="formOwnerRate">Hourly Rate (per hour)</label>
      <input type="number" class="form-control" id="formOwnerRate" placeholder="12.34">
    </div>
    <div class="form-group">
      <label for="formOwnerDetails">Car Details</label>
      <textarea class="form-control"
                id="formOwnerDetails"
                rows="5"
                placeholder="Additional details about your car...">
      </textarea>
    </div>
    <div class="form-group">
      <label for="formOwnerPhoto">Car Photo</label>
      <input type="file" class="form-control-file" id="formOwnerPhoto">
    </div>

    <h3>Service Zone</h3>
    <div class="form-group">
      <label for="formOwnerRadiusn">Service Zone Radius (km)</label>
      <input type="number" class="form-control" id="formOwnerRadiusn">
    </div>
    <div class="form-group">
      <label for="formOwnerLocatio">Service Zone Origin</label>
      <h4 class="text-danger"> -- Add Google Map Here -- </h4>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">
        I agree to Grab to Go's Terms of Use and Privacy Policy
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Connect Your Car</button>
  </form>
{% endblock %}
