{% extends 'base.html' %}

{% block title %}Car List{% endblock %}

{% block assets %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'car_list.css')}}">
{% endblock %}

{% block content %}

<div class="search row input-group mb-3">
  <input type="text" class="form-control" placeholder="Location...">
  <div class="input-group-append">
    <button class="btn btn-info" type="button" id="search-button"><i class="fas fa-search"></i></button>
  </div>
</div>
<div class="row" style="font-size: 1.1rem">
  <b>Filter :</b>
</div>
<div class="menu row">
  <button type="button" class="btn btn-secondary col">Location</button>
  <button type="button" class="btn btn-secondary col">Price</button>
  <button type="button" class="btn btn-secondary col">Time</button>
  <button type="button" class="btn btn-secondary col">Distance</button>
  <button type="button" class="btn btn-secondary col">Vehicle Types</button>
  <button type="button" class="btn btn-secondary col">Vehicle Brands</button>
</div>

<div class="container mt-3">
  {% for post in posts %}
  {% if loop.index % 3 == 1 %}
  <div class="row car-card-row">
    {% endif %}

    {% include "car_list/_post.html" %}
    
    {% if loop.index % 3 == 0 %}
  </div>
  {% endif %}
  {% endfor %}    
</div>



{% endblock %}
