{% extends 'base.html' %}

{% block title %}Car List{% endblock %}

{% block assets %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'car_list.css')}}">
{% endblock %}

{% block content %}

<div class="search row input-group mb-3">
  <input type="text" class="form-control" placeholder="Location...">
  <div class="input-group-append">
    <button class="btn btn-info" type="button" id="search-button"><i class="fas fa-search"></i></button>
  </div>
</div>
<div class="row" style="font-size: 1.1rem">
  <b>Filter :</b>
</div>
<div class="menu row">
  <button type="button" class="btn btn-secondary col">Location</button>
  <button type="button" class="btn btn-secondary col">Price</button>
  <button type="button" class="btn btn-secondary col">Time</button>
  <button type="button" class="btn btn-secondary col">Distance</button>
  <button type="button" class="btn btn-secondary col">Vehicle Types</button>
  <button type="button" class="btn btn-secondary col">Vehicle Brands</button>
</div>

<div class="container mt-3">
  {% for i in range(0, 3) %}
    <div class="row car-card-row">
      {% for j in range(0, 3) %}
        <div class="col car-card-col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="static/images/tesla.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Tesla Model S, 2017</h5>
                <p class="card-text">Providence, RI</p>
                <p class="card-text">$ 99.99 / day</p>
                <a href="{{ url_for('car_info') }}" class="btn btn-primary">Rent</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>


{% endblock %}
