<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <meta charset='utf-8' />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Grab To Go - {% block title %}{% endblock %}</title>

      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
      <link rel="manifest" href="static/favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#000000">
      <meta name="msapplication-TileImage" content="static/favicon/ms-icon-144x144.png">
      <meta name="theme-color" content="#000000">

      <!-- JS & CSS Libary -->
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

      {% block assets %} {% endblock %}

    {% endblock %}
</head>

<body>
    {% block body %}
      {% block nav %}
        <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="{{ url_for('index') }}">
              <img src="/static/images/logo.png" width="auto" height="25" alt="">
              Grab To Go
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('car_form') }}">Share Your Car</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('car_list') }}">Rent a Car</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('control_panel_client2') }}">Control Panel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('message') }}">Message</a>
                </li>
              </ul>
              <span class="navbar-text">
                Welcome, Desmond
              </span>
            </div>
          </nav>
        </header>
      {% endblock %}

      <main class="container maincon">
        {% block content %}{% endblock %}
      </main>

      {% block footer %}
        <hr class="mt-5" />
        <footer class="container mt-1">
          <p class="row justify-content-center">&copy; 2018 Grab To Go </p>
        </footer>
      {% endblock %}
    {% endblock %}
</body>
</html>
