<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <meta charset='utf-8' />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

      {% block title %} Grab To Go {% endblock %}
    {% endblock %}
</head>

<body>
    {% block nav %}
      <nav>
        <h1><a href="{{ url_for('index') }}">Grab To Go</a></h1>
        <ul>
            <li><span>Test</span>
        </ul>
      </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>
