{# The base template for ordinary pages. Put shared markup and styles here. #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <link rel="author" href="/humans.txt" />

    {% block title %} Grab'n Go {% endblock %}

    <!-- Links for mobile apps -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest/manifest.json') }}" >

    {% endblock %}
</head>

<body>
    {% block nav %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
{% block domJS %}
{% endblock %}
</html>
